{% extends "layout.html" %} {% block content %}


<section id="about">
        <div class="container mt-4 pt-4">
            <h1 class="text-center">Welcome to Our Food Blog!</h1>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="https://avatars.githubusercontent.com/u/99664429?v=4" class= "imageAboutPage" alt="">
                </div>

                <div class="col-lg-8">
                    <p> 
                     Our food blog is a place where food enthusiasts, home cooks, and professional
  chefs can come together to share their passion for creating delicious dishes.
  Here, you will find a variety of recipes, cooking tips, and culinary stories
  that will inspire you to explore new flavors and techniques in the kitchen.
                        
                    </p>
                    <p> 
                     Each of our contributors brings their unique perspective and expertise to the
  table, ensuring that there is always something new and exciting to discover.
  From traditional dishes to modern twists on classic favorites, our blog offers
  a diverse range of content to suit every palate and skill level.
                        
                    </p>
                    <p> 
                     Not only do we share mouthwatering recipes, but we also encourage our readers
  to share their own culinary creations and experiences. Whether you are a
  seasoned cook or just starting your culinary journey, we welcome you to join
  our community of like-minded individuals who share a love for all things food.
                        
                    </p>
                    <p> 
                    We hope you enjoy browsing our blog and trying out some of the delicious
  recipes and ideas we have to offer. Don't forget to share your creations with
  us – we love seeing what our readers have been cooking up!
                        
                    </p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul>
                                <li>Name: Yalım Gürbüz</li>
                                <li>Age: 24</li>
                                <li>Occupation: Web Developer</li>

                            </ul>
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                    </div>
                </div>
            </div>
    </section>



{% endblock content %}

